<br>
<div class="container-fluid">
  <div class="row">
    <% @user.projects.each do |project| %>
  <div class="col-sm-4 col-lg-4 col-md-4 font-size-fix project-cards">
    <div class="thumbnail">
      <% if project.banner_image_file_name.nil? %>
        <%= image_tag 'https://source.unsplash.com/collection/410325/400' %>
      <% else %>
        <%= image_tag project.banner_image.url(:small), size: 400 %>
      <% end %>        
      <div class="caption">
            <h4><%= link_to project.title, project_path(project.slug) %></h4>
            <h4>Amount Raised: <%= number_to_currency(project.funding_received) %> </h4>
            <p><%= link_to "Edit", edit_project_path(project.slug) %></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
