<div class="login-page">
  <%= form_for @user do |f| %>
  <div class="form">
    <form class="register-form">
      <%= f.text_field :name, placeholder: "name" %>
      <%= f.label "Select a picture that represents you ⬇️" %>
      <%= f.file_field :avatar %>
      <%= f.text_field :phone, placeholder: "phone" %>
      <%= f.text_field :email, placeholder: "email" %>
      <%= f.text_field :email_confirmation, placeholder: "email confirmation" %>
      <%= f.password_field :password, placeholder: "password" %>
      <%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
    </form>
    <%= f.submit "Update" %>
  </div>
  <% end %>
</div>
