<nav class="navbar navbar-default navbar-fixed-top navbar-fixed-margin-fix">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav navbar navbar-brand" href="/">Vicarious.li</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/categories"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Explore</a></li>
        <% if current_user.nil? %>
        <li><%= link_to "Start a Project!", guest_login_path%></li>
        <% else %>
        <li><%= link_to "Start a Project!", new_project_path %></li>
      <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="avatar" ><%= "Hello, #{current_user.name}!" %></li>
          <% if current_user.avatar_file_name.nil? %>
            <li><%= link_to image_tag("missing.png", size: 28), user_path(current_user.id), class: "avatar", id: "Account" %></li>
          <% else %>
            <li><%= link_to image_tag(current_user.avatar.url(:thumb), size: 28), user_path(current_user.id), class: "avatar", id: "Account" %></li>
          <% end %>
            <li><%= link_to "Sign Out", logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Sign Up", new_user_path %></li>
          </ul>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
