<div class="comments-container">
   <ul id="comments-list" class="comments-list">
     <% @project.comments_reverse_chronological.each do |comment| %>
     <li>
       <div class="comment-main-level">
         <div class="comment-avatar"> <%= image_tag("lee.png.jpeg") %></div>
         <div class="comment-box">
           <div class="comment-head">
             <h6 class="comment-name by-author"><%= comment.user.name %>| <%= time_ago_in_words(comment.created_at) %> </h6>
             <i class="fa fa-reply"></i>
             <i class="fa fa-heart"></i>
           </div>
           <div class="comment-content">
             <%= comment.comment_body %>
           </div>
         </div>
       </div>
    </li>
    <% end %>
  </ul>
</div>

<% if @project.backers.include?(current_user) %>
<%= button_to "Post Your Comment", "#" %>
<% else %>
<%= "Only backers of #{@project.title} can post comments." %>
<% end %>
