<div class="comments-container">
  <ul id="comments-list" class="comments-list">
    <% @project.comments_reverse_chronological.each do |comment| %>
      <li class='blah'>
        <div class="comment-main-level">
          <div class="comment-avatar"> <%= image_tag("lee.png.jpeg") %></div>
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name by-author"><%= comment.user.name %>| <%= time_ago_in_words(comment.created_at) %> </h6>
            </div>
            <div class="comment-content">
              <%= comment.comment_body %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
      <li>
        <div class="comment-main-level">
          <form class="" action="index.html" method="post">
            <input type="text-area" id="comment-body" name="comment-body" placeholder="put your comment here">
            <% if @project.backers.include?(current_user) %>
              <input type="button" class="comment-button" value="Post Your Comment">
            <% else %>
              <%= "Only backers of #{@project.title} can post comments." %>
            <% end %>
          </form>
          <script src="/assets/jquery.timeago.js" type="text/javascript"></script>
          <div class="var" data-url="<%= @project.slug %>" data-key="<%= current_user_api_key %>"></div>
        </div>
      </li>
  </ul>
</div>
