<div class="container-fluid">
  <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
        <h3 class="header-new-project">Edit Project!</h3>
          <%= form_for @project do |f| %>
          <div class="form">
            <form class="register-form">
              <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, size: "50x10" %>
              </div>
              <div class="form-group">
                <%= f.label :image %>
                <%= f.file_field :banner_image %>
              </div>
              <div class="form-group">
                <%= f.label :goal %>
                <%= f.text_field :goal, size: "50x10" %>
              </div>
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, size: "36x10" %>
              </div>
              <div class="form-group">
                <%= f.collection_select :category_id, @categories,:id,:name, include_blank: true %>
              </div>
            </form>
              <%= f.submit %>
            </div>
          <%end%>
  </div>

  <div class="col-sm-6 col-lg-6 col-md-6">
    <h3 class="header-new-project">Add a Contributor!</h3>

  <%= form_for :add_user, url: add_user_owner_path(@project.slug), method: :put do |f| %>
        <div class="form">
          <form class="register-form">
            <div class="form-group">
              <%= f.label :new_owner_email %>
              <%= f.text_field :new_owner_email %>
            </div>
            <%= f.hidden_field :project_slug, value: @project.slug %>

          </form>
          <%= f.submit "Add This Person" %>
          </div>
      <%end%>
    </div>

  </div>
</div>
