<div class="container" id="product-section">
  <div class="row">
    <div class="col-md-6">
      <% if @project.banner_image_file_name.nil? %>
      <%= image_tag 'https://source.unsplash.com/collection/410325/400x200' %>
      <% else %>
      <%= image_tag @project.banner_image.url(:small) %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <h1><%= @project.title %></h1>
        <span class="label label-primary">Category:<%= @project.category.name %> </span>
        <p class="description">
          Pleged a goal of <%= number_to_currency(@project.goal) %>
        </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="successbar"
          aria-valuenow="<%= @project.funding_received %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @project.funding_received %>%">
          <%= @project.funding_received %>%
        </div>
      </div>
      <p>Project created on: <%= @project.created_at.to_date.strftime("%B %d, %Y") %> </p>
      <p>Backers: 0</p>
      <p>Days to go: 0</p>
      <p >
        <% @project.users.each do |user| %>
        <%= user.name %> Owns this project! </br>
        <% end %>
    
 <div class="progress">
  <div class="progress-bar progress-bar-striped" role="successbar"
  aria-valuenow="<%= @project.funding_received %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= number_to_currency(@project.funding_received) %>%">
    <%= @project.funding_received %>%
  </div>
</div>
    <p>Project created on: <%= @project.created_at.to_date.strftime("%B %d, %Y") %> </p>
    <p>Backers: 0</p>
    <p>Days to go: 0</p>
    </div>
    <% if current_user.nil? %>
    <%= button_to "Back project!", guest_login_path, class: "btn btn-primary btn-block", method: :get %>
    <% else %>
    <%= button_to "Back project!", projects_new_pledge_path(@project.slug), class: "btn btn-primary btn-block", method: :get %>
  </div>
  <% end %>
  <div>
    <% if @project.users.first == current_user %>
    <%= link_to "Add Someone Else As An Owner", edit_project_path(@project.slug) %>
    <% end %>
  </div>
</div>

<!-- Nav tabs -->
<div class="col-lg-12 center">
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#description" aria-controls="description" role="tab" data-toggle="tab">
          <span class="span-tabs">Description</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
          <span class="span-tabs">Comments</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#backers" aria-controls="backers" role="tab" data-toggle="tab">
          <span class="span-tabs">Backers</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#other_projects" aria-controls="other_projects" role="tab" data-toggle="tab">
          <span class="span-tabs">Other Projects</span>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="description">
        <p class="project-description"><%= @project.description %></p>
      </div>

      <div role="tabpanel" class="tab-pane" id="comments">
        <%= render partial: 'comments' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="backers">
        <%= render partial: 'backer' %>
      </div>

              <div role="tabpanel" class="tab-pane" id="other_projects">
                <br>
                <br>
                <div class="container-fluid">
                  <div class="row">
                    <% @project.users.first.projects.each do |project| %>
                      <div class="col-sm-4 col-lg-4 col-md-4 font-size-fix">
                        <div class="thumbnail">
                          <% if project.banner_image_file_name.nil? %>
                            <%= image_tag 'https://source.unsplash.com/collection/410325/400x200' %>
                          <% else %>
                            <%= image_tag project.banner_image.url(:card) %>
                          <% end %>        
                          <div class="caption">
                                <h4><%= link_to project.title, project_path(project.slug) %></h4>
                                <h4>Amount Raised: <%= number_to_currency(project.funding_received) %> </h4>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
