<center><h1><%= @category.name %></h1></center>
<br>
<div class="container-fluid">
  <div class="row">
    <% @category.projects.each do |project| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <% if project.banner_image_file_name.nil? %>
          <%= image_tag 'missing.png', size: 320 %>
        <% else %>
          <%= image_tag project.banner_image.url(:small) %>
        <% end %>
        <div class="caption">
          <h4><a href="#"> <%= link_to project.title, project_path(slug: project.title.parameterize) %> </a>
          </h4>
        </div>
      </div>
      <div class="progress">
  <div class="progress-bar progress-bar-striped" role="successbar" aria-valuenow="<%= project.funding_received %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= project.funding_received %>%">
    <%= project.funding_received %>%
  </div>
</div>
    </div>
    <% end %>
  </div>
</div>
</br>
